
.navbar-brand {
  /*text-indent: -999em;*/
}

.navbar-brand .brand-logo {
  width: 220px;
  height: 31px;
  background: url(../assets/images/ds-logo.png) no-repeat 4px 11px;
  display: inline-block;
}

.navbar-brand .brand-logo::before {
  display: none;
}

.navbar-brand .brand-name {
  display: inline-block;
  float: right;
  margin-left: 14px;
  color: #ffffff;
  background-color: #8ad6ec;
  padding: 0px 10px;
}

[cam-widget-header] {
  border-top-color: #8ad6ec;
}

